body
{
	background: #a393e9;
}
#heading{
    font-family: Good Unicorn;
    color:rgb(49, 10, 85);
    font-size: 50px;
}
#no1{
    font-family: Georgia;
    
}
#no2{
    font-family: Georgia;
   
}
	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}
#button{
    background-color: rosybrown;
    font-family: Good Unicorn;
    color:rgb(49, 10, 85);
    font-size: 30px;
}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}

